<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yang.testbyyang">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />



    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_rongcloud"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.example.yang.testbyyang"
                    android:pathPrefix="/push_message"
                    android:scheme="rong" />
            </intent-filter>

        </activity>
        <!--群组详情-->
        <activity
            android:name=".ui.activity.GroupDetailActivity"
            android:screenOrientation="portrait"></activity>

        <!--新的朋友列表-->
        <activity
            android:name=".ui.activity.NewFriendListActivity"
            android:screenOrientation="portrait"></activity>
    </application>
    <!--会话页面-->
    <activity
        android:name=".ui.activity.ConversationActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden|adjustResize">

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />

            <data
                android:host="com.example.yang.testbyyang"
                android:pathPrefix="/conversation/"
                android:scheme="rong" />
        </intent-filter>

    </activity>
    <!--会话列表-->
    <activity
        android:name=".ui.activity.ConversationListActivity"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden|adjustResize">

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="com.example.yang.testbyyang"
                android:path="/conversationlist"
                android:scheme="rong" />
        </intent-filter>
    </activity>
    <!--聚合会话列表-->
    <activity
        android:name=".ui.activity.SubConversationListActivity"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden|adjustResize">

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="com.example.yang.testbyyang"
                android:path="/subconversationlist"
                android:scheme="rong" />
        </intent-filter>
    </activity>
    <activity android:name=".ui.activity.NewTextMessageActivity"></activity>
</manifest>
